.grid-container {
  display: grid;
  width: 600px;
  margin: auto;
  grid-template-columns: 200px 200px 200px;
  background-color: rgb(43, 158, 27);
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  height: 200px;
}